body{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background-color: rgb(253, 236, 239);
    margin: 150;
}
.blue-color{
    color:blue;
}
.Flexibe-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 100%;
    padding-left: 5%;
    box-shadow: royalblue;
}
.half-width img{
  width: 40%;
}
.link-button{
    text-decoration: none ;
    background-image:linear-gradient(red,rgb(161, 46, 71));
    padding: 10px 40px;
    color:black;
    font-weight: 700;
    border-radius: 10px;
 }
 .my mission{
     background-position: center;
 }
 .develop without limits-area{
     background-image: url(images/shapes/shape-1.png);
     background-repeat: no-repeat;
     background-position: right;
 }
 .Mission{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    scroll-padding-left: 20px;
    box-shadow: 10px 10px 40px rgb(236, 208, 208);
 }
 .vission{
     width: 40%;
     margin-left: 5%;
     margin-right: 5%;
     scroll-padding-left: 20px;
     box-shadow: 10px 10px 40px rgb(236, 208, 208);

 }
 footer p{
     text-align: center;
     text-emphasis-color:white ;
     background-color: rgb(161, 12, 12);
 }